body {
    background-color:white;
    padding-top: 70px;
}
footer {
    background-color: white;
}
.navbar {
    background-color: #AFD5AA;
}
#myLinks {
    max-width:450px;
}
.background {
    width: 100%;
    background-color: #F0F2EF;
    padding-top: 80px;
}
.background {
    width: 100%;
    background-color: #F0F2EF;
}

.list-group-item, .list-group-item.disabled {
background-color: #f1f2ef;
}
.list-group-item.active {
    background-color: #a2a2a2;
}
a.list-group-item.list-group-item-action:hover {
    color: #6ea268;
}
#whatIKnow {
    border-left: 1px solid rgba(0,0,0,.125);
    padding: 20px 30px;
}
@media screen and (max-width:767px) {
    #whatIKnow {
        border-left: none;
        padding: 15px;
        border-top: 1px solid rgba(0,0,0,.125);
    }
